.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 3.5rem;
    overflow: hidden;
    padding: 1rem;
    position: relative;
    text-align: center;
    font-size: 0.875rem;
    text-decoration: none;
    outline: 0;
    border: none;
    border-radius: 1.75rem;
    background-color: $purple-lite;
    box-shadow: $neo-small;
    user-select: none;
    cursor: pointer;

    &--full-width {
        display: flex;
        width: 100%;
    }

    &--clear {
        color: $white;
        background-color: $red;
        transition: background-color $duration-base, color $duration-base;
    }

    &--toggle {
        width: 3rem;
        height: 3rem;
        font-weight: 700;
        border-radius: .75rem;
        background-size: 40%;
        background-position: center;
        background-repeat: no-repeat;
        transition: box-shadow $duration-base;

        &+& {
            margin-left: 1rem;
        }

        &-tile {
            background-image: url('../../images/layout-tile.svg');
        }

        &-list {
            background-image: url('../../images/layout-list.svg');
        }

        &.is-active {
            box-shadow: none;
        }
    }
}
