.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 3.5rem;
    overflow: hidden;
    padding: 1rem;
    position: relative;
    text-align: center;
    font-size: 0.875rem;
    text-decoration: none;
    outline: 0;
    border: none;
    border-radius: 1.75rem;
    background-color: $purple-lite;
    box-shadow: $neo-small;
    user-select: none;
    cursor: pointer;

    &--full-width {
        display: flex;
        width: 100%;
    }

    &--clear {
        color: $white;
        background-color: $red;
        transition: background-color $duration-base, color $duration-base;
    }
}
