.row {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap;
    margin-right: -.9375rem;
    margin-left: -.9375rem
}

@media only screen and (max-width: 1024px) {
    .row {
        margin-left: -.75rem;
        margin-right: -.75rem
    }
}

@media only screen and (max-width: 768px) {
    .row {
        margin-left: -.5rem;
        margin-right: -.5rem
    }
}

.col-default,
.col-default-1,
.col-default-10,
.col-default-11,
.col-default-12,
.col-default-2,
.col-default-3,
.col-default-4,
.col-default-5,
.col-default-6,
.col-default-7,
.col-default-8,
.col-default-9 {
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: .9375rem;
    padding-left: .9375rem
}

@media only screen and (max-width: 1024px) {

    .col-default,
    .col-default-1,
    .col-default-10,
    .col-default-11,
    .col-default-12,
    .col-default-2,
    .col-default-3,
    .col-default-4,
    .col-default-5,
    .col-default-6,
    .col-default-7,
    .col-default-8,
    .col-default-9 {
        padding-left: .75rem;
        padding-right: .75rem
    }
}

@media only screen and (max-width: 768px) {

    .col-default,
    .col-default-1,
    .col-default-10,
    .col-default-11,
    .col-default-12,
    .col-default-2,
    .col-default-3,
    .col-default-4,
    .col-default-5,
    .col-default-6,
    .col-default-7,
    .col-default-8,
    .col-default-9 {
        padding-left: .5rem;
        padding-right: .5rem
    }
}

.col-default {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%
}

.col-default-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%
}

.col-default-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%
}

.col-default-3 {
    flex-basis: 25%;
    max-width: 25%
}

.col-default-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%
}


.col-default-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%
}

.col-default-6 {
    flex-basis: 50%;
    max-width: 50%
}

.col-default-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%
}

.col-default-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%
}

.col-default-9 {
    flex-basis: 75%;
    max-width: 75%
}

.col-default-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%
}

.col-default-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%
}

.col-default-12 {
    flex-basis: 100%;
    max-width: 100%
}

.col-default-hide {
    display: none !important
}

.col-default-show {
    display: block !important
}
