.sorting {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    user-select: none;

    &__button {
        margin-left: .5rem;
        border-bottom: 1px dotted $middle-grey;
        cursor: pointer;

        &.asc:after {
            content: '\2191'
        }

        &.desc:after {
            content: '\2193'
        }

        &.asc,
        &.desc {
            border-bottom-color: transparent;

            &:after {
                color: $red;
            }
        }

    }
}
